@{
    ViewBag.Title = "IniciarPartida";
}
<style>
    .block-dark {
        background-color: #101629;
        padding: 1rem;
        border-radius: 12px;
        color: white;
    }
    .block-icon {
        font-size: 1.2rem;
        margin-right: 0.5rem;
    }

    input[type="text"],
    select.styled-select {
        width: 100%;
        padding: 0.6rem 0.75rem;
        background-color: #1a203a;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 1rem;
        outline: none;
    }
    select.styled-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill='%23fff' d='M6 8L0 0h12z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 12px 8px;
        padding-right: 2rem;
    }
</style>

@model Ahorcado_Grupo5.Models.Partida

<div class="crear-jugador-container">
    <a href="@Url.Action("MenuPrincipal", "Home")" class="volver-btn" title="Volver al menú principal">&#8592;</a>
    <span class="titulo-crear">INICIAR PARTIDA</span>

    <div class="info-block block-blue">
        <span class="block-icon">&#9432;</span>
        <span class="block-title">Jugadores Registrados</span><br />

        <ul style="margin-bottom:0; margin-top:0.5rem;">
            @if (Model?.Jugadores != null && Model.Jugadores.Any())
            {
                foreach (var jugador in Model.Jugadores)
                {
                    <li><b>Identificación:</b> @jugador.Identificacion</li>
                    <li><b>Nombre:</b> @jugador.Nombre</li>
                    <li style="margin-bottom: 0.5rem;"></li>
                }
            }
            else
            {
                <li>No hay jugadores registrados.</li>
            }
        </ul>
    </div>


    <div class="puntuacion-block block-orange">
        <span class="block-title">Nivel de Dificultad</span>
        <div class="puntuacion-cols">
            <div>
                <b>Dificultad de la Partida:</b><br />
                Fácil: 1 minuto con 30 segundoa<br />
                Normal: 1 minuto<br />
                Difícil: 30 segundos
            </div>
        </div>
    </div>

    <div class="input-block block-dark">
        <span class="block-icon">&#128100;</span>
        <label for="nivelDificultad">Nivel de Dificultad</label>
        <div class="select-wrapper">
            <select id="nivelDificultad" name="nivelDificultad" class="styled-select">
                <option value="" disabled selected>-- Selecciona una opción --</option>
                <option value="facil">Fácil</option>
                <option value="normal">Normal</option>
                <option value="dificil">Difícil</option>
            </select>
        </div>
    </div>

    <a href="@Url.Action("Partida", "Home")" class="crear-btn" style="font-size:1.3rem; text-decoration: none;">&#128100; INICIAR PARTIDA</a><br />



</div>

